.side-container
  .portrait
  .sidebar-content-container
    .sidebar-content-section.contacts
      h3 contacts
      div
        span Cell 1:
        a(href="tel:+380669848213") +38-066-984-82-13
      div
        span Cell 2:
        a(href="tel:+380679890289") +38-067-989-02-89
      div
        span E-mail
        a(href="mailto:viktorpopov080@gmail.com") viktorpopov080@gmail.com
      div
        span Skype
        a(href="skype:viktor_popov_88?chat") Viktor Popov

  .sidebar-content-section.skills
    h3 tech skills
    ul
      li ReactJS
      li Redux
      li ES5, ES6, JSX
      li TypeScript
      li HTML5, JADE/PUG
      li CSS3, LESS, SASS, SCSS
      li GIT
      li Gulp, Webpack