.cv-content-container {
  padding: 15px;
  font-size: 1.2em;
  line-height: 1.5em;
  
  h4, a {
    color: $orangeHighlight;
  }

  a {
    border-bottom: 1px solid $orangeHighlight;
    &:hover {
      color: $defaultWhiteColor;
      border-bottom: 1px solid $defaultWhiteColor;
    }
    @media print {
      border-bottom: none;
    }
  }
  
  .about-me-section {
    .about-me-name {
      display: none;
      text-align: center;
      font-weight: bold;
      @media screen and ($breakpointSmall) {
        display: block;
      }
    }
    
    .about-me-profession {
      display: none;
      font-weight: bold;
      text-align: center;
      text-transform: capitalize;
      @media screen and ($breakpointSmall) {
        display: block;
      }
    }
    
    .about-me-description {
      text-align: justify;
    }
  }

  @media screen and ($breakpointSmall) {
    width: 100%;
    padding: 40px;
    .about-me-name,
    .about-me-profession {
      display: block;
    }
  }

  .work-experience-section,
  .education-section,
  .additional-info-section {
    margin-top: 10px;
  }

  .work-experience-section-header,
  .education-section-header,
  .additional-info-header {
    font-size: 1.2em;
    margin-bottom: 10px;
    font-weight: bold;
    @media screen and ($breakpointSmall) {
      line-height: 2.2em;
    }
  }
  
  .date {
    font-size: .8em;
    line-height: 15px;
    color: $greyColor;
    @media print {
      color: $defaultBlackColor;
    }
  }
  
  .workplace {
    margin-bottom: 20px;
  }
  
  .university {
    margin-bottom: 12px;
  }
  
  .separator {
    margin: 0 7px;
    color: $defaultBlackColor;
  }

  @media print {
    font-size: 1em;
    line-height: 1.2em;
    color: $defaultBlackColor;
    h4, a {
      color: $defaultBlackColor;
    }
  }
}

