.sidebar-container {
  background: $sidebarBgColor;
  padding-top: 20px;
  letter-spacing: .5px;
  @media screen and ($breakpointSmall) {
    min-width: 330px;
    padding-top: 40px;
  }
  @media screen and ($breakpointMedium) {
    min-width: 400px;
  }

  @media print {
    background-color: white;
    padding: 0;
  }

  a {
    color: $defaultWhiteColor;
    text-decoration: none;
    border-bottom: 1px solid $defaultWhiteColor;
    &:hover {
      color: $orangeHighlight;
      border-bottom: 1px solid $orangeHighlight;
    }
    @media print {
      color: black;
      border-bottom: none;
    }
    
  }

  .sidebar-content-container {
    @media print {
      display: flex;
      flex-direction: row;
    }
  }

  .sidebar-content-wrapper {
    @media print {
      display: flex;
      flex-direction: column;
    }
  }


  .sidebar-header-mobile {
    color: white;
    margin-bottom: 20px;
    text-align: center;
    text-transform: capitalize;
    font-size: 1.5em;
    @media screen and ($breakpointSmall) {
      display: none;
    }
    @media print {
      color: black;
    }
  }
  
  .portrait {
    overflow: hidden;
    background-image: url('../images/portrait.jpg');
    background-position: bottom;
    background-size: cover;
    height: 420px;
    -webkit-print-color-adjust: exact; 
    @media screen and ($breakpointMedium) {
      height: 450px;
    }
    @media print {
      height: 170px;
      min-width: 150px;
    }
  }
  .sidebar-content-section {
    padding: 20px;
    color: white;
    line-height: 1.5em;

    h3 {
      font-size: 1.5em;
      line-height: 27px;
      margin: 0;
      margin-bottom: 10px;
      text-transform: capitalize;
    }

    .sidebar-contacts-elem {
      display: grid;
      grid-template-columns: 1fr 3fr;
    }

    @media screen and ($breakpointMedium) {
      padding: 30px;
    }
    
    @media print {
      color: black;
      font-size: 1em;
      line-height: 1.5em;
      &.skills ul {
        li {
          display: inline-block;
          &::before {
            display: none;
          }
          &::after {
            content: ";";
          }
        }
      }
    }
  }
}