.side-container {
  min-width: 400px;
  background: #1E2939;
  padding-top: 40px;
  letter-spacing: .5px;
  
  a {
    transition: color .2s ease;
    &, &:active, &:visited {
      color: #aaa;
      text-decoration: none;
    }
    &:hover {
      color: #FB6D3A;
    }
  }
  
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    li::before {
      content: "\2022";
      color: #FB6D3A;
      margin-right: 10px;
      font-size: 1.2em;
    }
  }

  .portrait {
    overflow: hidden;
    background-image: url('../images/portrait.jpg');
    background-position: bottom;
    background-size: cover;
    height: 450px;
  }
  .sidebar-content-section {
    padding: 30px;
    color: white;
    line-height: 1.5em;

    h3 {
      font-size: 1.5em;
      line-height: 27px;
      margin: 0;
      margin-bottom: 10px;
      text-transform: capitalize;
    }

    .sidebar-contacts-elem {
      display: grid;
      grid-template-columns: 1fr 3fr
    }
  }
}