.side-container {
  min-width: 400px;
  background: #1E2939;
  padding-top: 40px;
  letter-spacing: .5px;

  a {
    color: #ccc;
    &:hover {
      color: #FB6D3A;
    }
  }
  
  .portrait {
    overflow: hidden;
    background-image: url('../images/portrait.jpg');
    background-position: bottom;
    background-size: cover;
    height: 450px;
  }
  .sidebar-content-section {
    padding: 30px;
    color: white;
    line-height: 1.5em;

    h3 {
      font-size: 1.5em;
      line-height: 27px;
      margin: 0;
      margin-bottom: 10px;
      text-transform: capitalize;
    }

    .sidebar-contacts-elem {
      display: grid;
      grid-template-columns: 1fr 3fr
    }
  }
}