// screen dimensions
$breakpointSmallest: "min-width: 480px";
$breakpointSmall: "min-width: 767px"; // tablets
$breakpointMedium: "min-width: 1023px"; // tablets and small desktops
$breakpointLarge: "min-width: 1150px"; // large tablets and desktops
$breakpointLargest: "min-width: 1439px"; // large desktops

// colors
$orangeHighlight: #fb6d3a;
$greyColor: #a8a8a8;
$sidebarBgColor: #1e2939;
$defaultWhiteColor: #ccc;
$defaultBlackColor: black;

// font sizes:
$defaultFontSize: 16px;
$printFontSize: 14px;

// animations:
$defaultAnimation: all 0.2s ease;
