// screen dimensions
$breakpointSmallest: "min-width: 480px";
$breakpointSmall: "min-width: 767px"; // tablets
$breakpointMedium: "min-width: 1023px"; // tablets and small desktops
$breakpointLarge: "min-width: 1150px";// large tablets and desktops
$breakpointLargest: "min-width: 1439px";// large desktops

// colors
$orangeHighlight: #FB6D3A;
$greyColor: #A8A8A8;